---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?id=z13ryv5pynjvtfgst23iy5uxhsrkvzzfz&key=<API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"sZ5p5Mo8dPpfIzLYQBF8QIQJym0/qeBiXzwrS6i_SuXwVQOY4ZkW4o4"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#commentListResponse",
         "etag": "\"sZ5p5Mo8dPpfIzLYQBF8QIQJym0/qeBiXzwrS6i_SuXwVQOY4ZkW4o4\"",
         "items": [
          {
           "kind": "youtube#comment",
           "etag": "\"sZ5p5Mo8dPpfIzLYQBF8QIQJym0/71aCrHudnqoJbPiRhOTyHKhiOiU\"",
           "id": "z13ryv5pynjvtfgst23iy5uxhsrkvzzfz",
           "snippet": {
            "authorDisplayName": "leevihermanni",
            "authorProfileImageUrl": "https://lh4.googleusercontent.com/-bzwXkvW61w8/AAAAAAAAAAI/AAAAAAAAAE4/G9k7waSjzVg/photo.jpg?sz=50",
            "authorChannelUrl": "http://www.youtube.com/channel/UC8DJocIvsARy4NCaO3Pl1ZA",
            "authorChannelId": {
             "value": "UC8DJocIvsARy4NCaO3Pl1ZA"
            },
            "textDisplay": "go to watch my trump vs clinton rap battle\ufeff",
            "canRate": false,
            "viewerRating": "none",
            "likeCount": 1,
            "publishedAt": "2016-10-25T11:35:25.000Z",
            "updatedAt": "2016-10-25T11:35:25.000Z"
           }
          }
         ]
        }
  recorded_at: Wed, 02 Nov 2016 03:00:03 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?fields=items(snippet(authorChannelId,authorChannelUrl,authorDisplayName,authorProfileImageUrl,likeCount))&id=z13ryv5pynjvtfgst23iy5uxhsrkvzzfz&key=<API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"sZ5p5Mo8dPpfIzLYQBF8QIQJym0/qeBiXzwrS6i_SuXwVQOY4ZkW4o4"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "items": [
          {
           "snippet": {
            "authorDisplayName": "leevihermanni",
            "authorProfileImageUrl": "https://lh4.googleusercontent.com/-bzwXkvW61w8/AAAAAAAAAAI/AAAAAAAAAE4/G9k7waSjzVg/photo.jpg?sz=50",
            "authorChannelUrl": "http://www.youtube.com/channel/UC8DJocIvsARy4NCaO3Pl1ZA",
            "authorChannelId": {
             "value": "UC8DJocIvsARy4NCaO3Pl1ZA"
            },
            "likeCount": 1
           }
          }
         ]
        }
  recorded_at: Wed, 02 Nov 2016 03:00:04 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?fields=items(id,snippet(channelId,description,publishedAt,title))&id=FugHj7MGhss&key=<API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"sZ5p5Mo8dPpfIzLYQBF8QIQJym0/uO7zKX4AINOdfrA4xh0URRsotHc"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "items": [
          {
           "id": "FugHj7MGhss",
           "snippet": {
            "publishedAt": "2015-03-04T11:40:17.000Z",
            "channelId": "UC-pR7CuFeaa-khgLx65j7CA",
            "title": "20150303 二珂 後來 印地安老斑鳩 後會無期 淡水河邊 野薔薇 致青春 匆匆那年 我的滑板鞋",
            "description": "新浪微博周二珂:http://weibo.com/u/1910672761\n二珂直播:http://www.panda.tv/35723"
           }
          }
         ]
        }
  recorded_at: Wed, 02 Nov 2016 03:00:05 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/commentThreads?key=<API_KEY>&order=relevance&part=snippet&videoId=FugHj7MGhss
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"sZ5p5Mo8dPpfIzLYQBF8QIQJym0/23ckZNbfO0MO6p0lsmMsFaebvpc"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n \"kind\": \"youtube#commentThreadListResponse\",\n \"etag\": \"\\\"sZ5p5Mo8dPpfIzLYQBF8QIQJym0/23ckZNbfO0MO6p0lsmMsFaebvpc\\\"\",\n
        \"nextPageToken\": \"Cg0QvsqAm4qJ0AIgACgBEtYBCAAQ2KS8jbT_zwIqyAHqh_GUpM7SnM4BmrKL-sKRv_nOAcey5qDCl9PNzgHL9cnHle2d880Bq9eEl-3C-tDPAceWxMHm8N2pzAHEw8jlqa_qlc0Buaj14uPkgJzPAaKu4dqrnIK3zAG-wYSx5PuGrs8B8cims6H2lozMAeiO47n3xtKszAGh45nkm-W2iswB2fWUht3Z_4DMAdDLre6hkY3DzQGjiq-E94LwwcwB8-2K67GIx6_PAfGirZ_u7O3CzwG416784frOwM0B54rsiPStmuzPARgBIBQox4vR7oqsysuqAQ==\",\n
        \"pageInfo\": {\n  \"totalResults\": 20,\n  \"resultsPerPage\": 20\n },\n
        \"items\": [\n  {\n   \"kind\": \"youtube#commentThread\",\n   \"etag\": \"\\\"sZ5p5Mo8dPpfIzLYQBF8QIQJym0/0hy8FFDAbrNA7T1QwM45-X-U0Gg\\\"\",\n
        \  \"id\": \"z12lzhlxtqrjsvaoi04cgp5gak3nslahggg\",\n   \"snippet\": {\n    \"videoId\":
        \"FugHj7MGhss\",\n    \"topLevelComment\": {\n     \"kind\": \"youtube#comment\",\n
        \    \"etag\": \"\\\"sZ5p5Mo8dPpfIzLYQBF8QIQJym0/73aSwgQkqceD-TUrV1sIqn22nek\\\"\",\n
        \    \"id\": \"z12lzhlxtqrjsvaoi04cgp5gak3nslahggg\",\n     \"snippet\": {\n
        \     \"authorDisplayName\": \"麥克喬登\",\n      \"authorProfileImageUrl\": \"https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg?sz=50\",\n
        \     \"authorChannelUrl\": \"http://www.youtube.com/channel/UC_tucEOjvnsxxijwQZokN-Q\",\n
        \     \"authorChannelId\": {\n       \"value\": \"UC_tucEOjvnsxxijwQZokN-Q\"\n
        \     },\n      \"videoId\": \"FugHj7MGhss\",\n      \"textDisplay\": \"大陸14億
        高手在民間 臥虎又藏龍\\ufeff\",\n      \"canRate\": false,\n      \"viewerRating\":
        \"none\",\n      \"likeCount\": 0,\n      \"publishedAt\": \"2016-10-29T06:40:54.000Z\",\n
        \     \"updatedAt\": \"2016-10-29T06:40:54.000Z\"\n     }\n    },\n    \"canReply\":
        false,\n    \"totalReplyCount\": 0,\n    \"isPublic\": true\n   }\n  },\n
        \ {\n   \"kind\": \"youtube#commentThread\",\n   \"etag\": \"\\\"sZ5p5Mo8dPpfIzLYQBF8QIQJym0/vqanG0iSTFYTAJUWzKDGc9c912k\\\"\",\n
        \  \"id\": \"z13ojzc4syf4txi1223be3fruxzjhj0zy04\",\n   \"snippet\": {\n    \"videoId\":
        \"FugHj7MGhss\",\n    \"topLevelComment\": {\n     \"kind\": \"youtube#comment\",\n
        \    \"etag\": \"\\\"sZ5p5Mo8dPpfIzLYQBF8QIQJym0/JTGe4ymHDmPu-XG6UnK_Mn4-nN0\\\"\",\n
        \    \"id\": \"z13ojzc4syf4txi1223be3fruxzjhj0zy04\[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?fields=items(id,snippet(channelId,description,publishedAt,title))&id=4-kTfNZTGiA&key=<API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"sZ5p5Mo8dPpfIzLYQBF8QIQJym0/GwypUcHEeKVqf9MTFmk2217Pq6Y"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n \"items\": [\n  {\n   \"id\": \"4-kTfNZTGiA\",\n   \"snippet\":
        {\n    \"publishedAt\": \"2016-10-28T13:52:12.000Z\",\n    \"channelId\":
        \"UCq0Toe9z00Nzkd34htvdQmg\",\n    \"title\": \"【真】【耳機福利】【雙聲道福利】帶上你的耳機，給你不一樣的聽歌向！【第十五期】\",\n
        \   \"description\": \"\U0001F60E\U0001F60E\\n歌單：\\n四月謊OP\\n向日葵\\n食戟之靈第二季OP
        \\n吉原\\n夢太晚\\n鳥之夢\\n\\n轉自：Bilibili\\nUP主:格陵蘭雪泥娃娃\\n網址： http://www.bilibili.com/video/av3160991\"\n
        \  }\n  }\n ]\n}\n"
  recorded_at: Wed, 02 Nov 2016 03:05:06 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/commentThreads?key=<API_KEY>&order=relevance&part=snippet&videoId=4-kTfNZTGiA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"sZ5p5Mo8dPpfIzLYQBF8QIQJym0/XUaVa1YsEUqbeTrz0L0Auzcom6c"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n \"kind\": \"youtube#c[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?fields=items(snippet(authorChannelId,authorChannelUrl,authorDisplayName,authorProfileImageUrl,likeCount))&id=z123hrsjkxaetbrsq23ju3ebrxzpjhavz&key=<API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"sZ5p5Mo8dPpfIzLYQBF8QIQJym0/9L8HloXlMtMFZ4CZ1-b-sIB_I70"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "items": [
          {
           "snippet": {
            "authorDisplayName": "小萌夢",
            "authorProfileImageUrl": "https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg?sz=50",
            "authorChannelUrl": "http://www.youtube.com/channel/UCbEYbd6KYEraQ-9P07FZRcg",
            "authorChannelId": {
             "value": "UCbEYbd6KYEraQ-9P07FZRcg"
            },
            "likeCount": 1
           }
          }
         ]
        }
  recorded_at: Wed, 02 Nov 2016 03:05:07 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?fields=items(snippet(authorChannelId,authorChannelUrl,authorDisplayName,authorProfileImageUrl,likeCount))&id=z121fjlx4myxylbnf220yhfpvpr4ex1su&key=<API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"sZ5p5Mo8dPpfIzLYQBF8QIQJym0/v4090x3PMpUbcSZPYfKLZYkhI0I"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "items": [
          {
           "snippet": {
            "authorDisplayName": "陳秋梅",
            "authorProfileImageUrl": "https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg?sz=50",
            "authorChannelUrl": "http://www.youtube.com/channel/UCoBQoHwNcgzKFtp3xFsNgLg",
            "authorChannelId": {
             "value": "UCoBQoHwNcgzKFtp3xFsNgLg"
            },
            "likeCount": 1
           }
          }
         ]
        }
  recorded_at: Wed, 02 Nov 2016 03:06:31 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?fields=items(snippet(authorChannelId,authorChannelUrl,authorDisplayName,authorProfileImageUrl,likeCount))&id=z122izpbcovswzvob04cin15izumwdkg4hs&key=<API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"sZ5p5Mo8dPpfIzLYQBF8QIQJym0/7g5G2THnPK3cv4itA-e786VfJzw"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "items": [
          {
           "snippet": {
            "authorDisplayName": "林豐睿",
            "authorProfileImageUrl": "https://lh6.googleusercontent.com/-5XI1xQfgbYY/AAAAAAAAAAI/AAAAAAAAABU/1cFK1VD-hy8/photo.jpg?sz=50",
            "authorChannelUrl": "http://www.youtube.com/channel/UCHcaF4HsDzDmHcWflynBldA",
            "authorChannelId": {
             "value": "UCHcaF4HsDzDmHcWflynBldA"
            },
            "likeCount": 1
           }
          }
         ]
        }
  recorded_at: Wed, 02 Nov 2016 03:06:31 GMT
recorded_with: VCR 3.0.3
