---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?id=z13ryv5pynjvtfgst23iy5uxhsrkvzzfz&key=<API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"sZ5p5Mo8dPpfIzLYQBF8QIQJym0/qeBiXzwrS6i_SuXwVQOY4ZkW4o4"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "youtube#commentListResponse",
         "etag": "\"sZ5p5Mo8dPpfIzLYQBF8QIQJym0/qeBiXzwrS6i_SuXwVQOY4ZkW4o4\"",
         "items": [
          {
           "kind": "youtube#comment",
           "etag": "\"sZ5p5Mo8dPpfIzLYQBF8QIQJym0/71aCrHudnqoJbPiRhOTyHKhiOiU\"",
           "id": "z13ryv5pynjvtfgst23iy5uxhsrkvzzfz",
           "snippet": {
            "authorDisplayName": "leevihermanni",
            "authorProfileImageUrl": "https://lh4.googleusercontent.com/-bzwXkvW61w8/AAAAAAAAAAI/AAAAAAAAAE4/G9k7waSjzVg/photo.jpg?sz=50",
            "authorChannelUrl": "http://www.youtube.com/channel/UC8DJocIvsARy4NCaO3Pl1ZA",
            "authorChannelId": {
             "value": "UC8DJocIvsARy4NCaO3Pl1ZA"
            },
            "textDisplay": "go to watch my trump vs clinton rap battle\ufeff",
            "canRate": false,
            "viewerRating": "none",
            "likeCount": 1,
            "publishedAt": "2016-10-25T11:35:25.000Z",
            "updatedAt": "2016-10-25T11:35:25.000Z"
           }
          }
         ]
        }
  recorded_at: Wed, 02 Nov 2016 03:00:03 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?fields=items(snippet(authorChannelId,authorChannelUrl,authorDisplayName,authorProfileImageUrl,likeCount))&id=z13ryv5pynjvtfgst23iy5uxhsrkvzzfz&key=<API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"sZ5p5Mo8dPpfIzLYQBF8QIQJym0/qeBiXzwrS6i_SuXwVQOY4ZkW4o4"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "items": [
          {
           "snippet": {
            "authorDisplayName": "leevihermanni",
            "authorProfileImageUrl": "https://lh4.googleusercontent.com/-bzwXkvW61w8/AAAAAAAAAAI/AAAAAAAAAE4/G9k7waSjzVg/photo.jpg?sz=50",
            "authorChannelUrl": "http://www.youtube.com/channel/UC8DJocIvsARy4NCaO3Pl1ZA",
            "authorChannelId": {
             "value": "UC8DJocIvsARy4NCaO3Pl1ZA"
            },
            "likeCount": 1
           }
          }
         ]
        }
  recorded_at: Wed, 02 Nov 2016 03:00:04 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?fields=items(id,snippet(channelId,description,publishedAt,title))&id=FugHj7MGhss&key=<API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"sZ5p5Mo8dPpfIzLYQBF8QIQJym0/uO7zKX4AINOdfrA4xh0URRsotHc"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "items": [
          {
           "id": "FugHj7MGhss",
           "snippet": {
            "publishedAt": "2015-03-04T11:40:17.000Z",
            "channelId": "UC-pR7CuFeaa-khgLx65j7CA",
            "title": "20150303 二珂 後來 印地安老斑鳩 後會無期 淡水河邊 野薔薇 致青春 匆匆那年 我的滑板鞋",
            "description": "新浪微博周二珂:http://weibo.com/u/1910672761\n二珂直播:http://www.panda.tv/35723"
           }
          }
         ]
        }
  recorded_at: Wed, 02 Nov 2016 03:00:05 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/commentThreads?key=<API_KEY>&order=relevance&part=snippet&videoId=FugHj7MGhss
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"sZ5p5Mo8dPpfIzLYQBF8QIQJym0/23ckZNbfO0MO6p0lsmMsFaebvpc"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n \"kind\": \"youtube#commentThreadListResponse\",\n \"etag\": \"\\\"sZ5p5Mo8dPpfIzLYQBF8QIQJym0/23ckZNbfO0MO6p0lsmMsFaebvpc\\\"\",\n
        \"nextPageToken\": \"Cg0QvsqAm4qJ0AIgACgBEtYBCAAQ2KS8jbT_zwIqyAHqh_GUpM7SnM4BmrKL-sKRv_nOAcey5qDCl9PNzgHL9cnHle2d880Bq9eEl-3C-tDPAceWxMHm8N2pzAHEw8jlqa_qlc0Buaj14uPkgJzPAaKu4dqrnIK3zAG-wYSx5PuGrs8B8cims6H2lozMAeiO47n3xtKszAGh45nkm-W2iswB2fWUht3Z_4DMAdDLre6hkY3DzQGjiq-E94LwwcwB8-2K67GIx6_PAfGirZ_u7O3CzwG416784frOwM0B54rsiPStmuzPARgBIBQox4vR7oqsysuqAQ==\",\n
        \"pageInfo\": {\n  \"totalResults\": 20,\n  \"resultsPerPage\": 20\n },\n
        \"items\": [\n  {\n   \"kind\": \"youtube#commentThread\",\n   \"etag\": \"\\\"sZ5p5Mo8dPpfIzLYQBF8QIQJym0/0hy8FFDAbrNA7T1QwM45-X-U0Gg\\\"\",\n
        \  \"id\": \"z12lzhlxtqrjsvaoi04cgp5gak3nslahggg\",\n   \"snippet\": {\n    \"videoId\":
        \"FugHj7MGhss\",\n    \"topLevelComment\": {\n     \"kind\": \"youtube#comment\",\n
        \    \"etag\": \"\\\"sZ5p5Mo8dPpfIzLYQBF8QIQJym0/73aSwgQkqceD-TUrV1sIqn22nek\\\"\",\n
        \    \"id\": \"z12lzhlxtqrjsvaoi04cgp5gak3nslahggg\",\n     \"snippet\": {\n
        \     \"authorDisplayName\": \"麥克喬登\",\n      \"authorProfileImageUrl\": \"https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg?sz=50\",\n
        \     \"authorChannelUrl\": \"http://www.youtube.com/channel/UC_tucEOjvnsxxijwQZokN-Q\",\n
        \     \"authorChannelId\": {\n       \"value\": \"UC_tucEOjvnsxxijwQZokN-Q\"\n
        \     },\n      \"videoId\": \"FugHj7MGhss\",\n      \"textDisplay\": \"大陸14億
        高手在民間 臥虎又藏龍\\ufeff\",\n      \"canRate\": false,\n      \"viewerRating\":
        \"none\",\n      \"likeCount\": 0,\n      \"publishedAt\": \"2016-10-29T06:40:54.000Z\",\n
        \     \"updatedAt\": \"2016-10-29T06:40:54.000Z\"\n     }\n    },\n    \"canReply\":
        false,\n    \"totalReplyCount\": 0,\n    \"isPublic\": true\n   }\n  },\n
        \ {\n   \"kind\": \"youtube#commentThread\",\n   \"etag\": \"\\\"sZ5p5Mo8dPpfIzLYQBF8QIQJym0/vqanG0iSTFYTAJUWzKDGc9c912k\\\"\",\n
        \  \"id\": \"z13ojzc4syf4txi1223be3fruxzjhj0zy04\",\n   \"snippet\": {\n    \"videoId\":
        \"FugHj7MGhss\",\n    \"topLevelComment\": {\n     \"kind\": \"youtube#comment\",\n
        \    \"etag\": \"\\\"sZ5p5Mo8dPpfIzLYQBF8QIQJym0/JTGe4ymHDmPu-XG6UnK_Mn4-nN0\\\"\",\n
        \    \"id\": \"z13ojzc4syf4txi1223be3fruxzjhj0zy04\[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?fields=items(id,snippet(channelId,description,publishedAt,title))&id=4-kTfNZTGiA&key=<API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"sZ5p5Mo8dPpfIzLYQBF8QIQJym0/GwypUcHEeKVqf9MTFmk2217Pq6Y"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n \"items\": [\n  {\n   \"id\": \"4-kTfNZTGiA\",\n   \"snippet\":
        {\n    \"publishedAt\": \"2016-10-28T13:52:12.000Z\",\n    \"channelId\":
        \"UCq0Toe9z00Nzkd34htvdQmg\",\n    \"title\": \"【真】【耳機福利】【雙聲道福利】帶上你的耳機，給你不一樣的聽歌向！【第十五期】\",\n
        \   \"description\": \"\U0001F60E\U0001F60E\\n歌單：\\n四月謊OP\\n向日葵\\n食戟之靈第二季OP
        \\n吉原\\n夢太晚\\n鳥之夢\\n\\n轉自：Bilibili\\nUP主:格陵蘭雪泥娃娃\\n網址： http://www.bilibili.com/video/av3160991\"\n
        \  }\n  }\n ]\n}\n"
  recorded_at: Wed, 02 Nov 2016 03:05:06 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/commentThreads?key=<API_KEY>&order=relevance&part=snippet&videoId=4-kTfNZTGiA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"sZ5p5Mo8dPpfIzLYQBF8QIQJym0/XUaVa1YsEUqbeTrz0L0Auzcom6c"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n \"kind\": \"youtube#c[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?fields=items(snippet(authorChannelId,authorChannelUrl,authorDisplayName,authorProfileImageUrl,likeCount))&id=z123hrsjkxaetbrsq23ju3ebrxzpjhavz&key=<API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"sZ5p5Mo8dPpfIzLYQBF8QIQJym0/9L8HloXlMtMFZ4CZ1-b-sIB_I70"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "items": [
          {
           "snippet": {
            "authorDisplayName": "小萌夢",
            "authorProfileImageUrl": "https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg?sz=50",
            "authorChannelUrl": "http://www.youtube.com/channel/UCbEYbd6KYEraQ-9P07FZRcg",
            "authorChannelId": {
             "value": "UCbEYbd6KYEraQ-9P07FZRcg"
            },
            "likeCount": 1
           }
          }
         ]
        }
  recorded_at: Wed, 02 Nov 2016 03:05:07 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?fields=items(snippet(authorChannelId,authorChannelUrl,authorDisplayName,authorProfileImageUrl,likeCount))&id=z121fjlx4myxylbnf220yhfpvpr4ex1su&key=<API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"sZ5p5Mo8dPpfIzLYQBF8QIQJym0/v4090x3PMpUbcSZPYfKLZYkhI0I"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "items": [
          {
           "snippet": {
            "authorDisplayName": "陳秋梅",
            "authorProfileImageUrl": "https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg?sz=50",
            "authorChannelUrl": "http://www.youtube.com/channel/UCoBQoHwNcgzKFtp3xFsNgLg",
            "authorChannelId": {
             "value": "UCoBQoHwNcgzKFtp3xFsNgLg"
            },
            "likeCount": 1
           }
          }
         ]
        }
  recorded_at: Wed, 02 Nov 2016 03:06:31 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?fields=items(snippet(authorChannelId,authorChannelUrl,authorDisplayName,authorProfileImageUrl,likeCount))&id=z122izpbcovswzvob04cin15izumwdkg4hs&key=<API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"sZ5p5Mo8dPpfIzLYQBF8QIQJym0/7g5G2THnPK3cv4itA-e786VfJzw"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "items": [
          {
           "snippet": {
            "authorDisplayName": "林豐睿",
            "authorProfileImageUrl": "https://lh6.googleusercontent.com/-5XI1xQfgbYY/AAAAAAAAAAI/AAAAAAAAABU/1cFK1VD-hy8/photo.jpg?sz=50",
            "authorChannelUrl": "http://www.youtube.com/channel/UCHcaF4HsDzDmHcWflynBldA",
            "authorChannelId": {
             "value": "UCHcaF4HsDzDmHcWflynBldA"
            },
            "likeCount": 1
           }
          }
         ]
        }
  recorded_at: Wed, 02 Nov 2016 03:06:31 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?id=vJOkR0Xz958&key=<API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "youtube.comment",
            "reason": "operationNotSupported",
            "message": "The id filter is only compatible with comments based on Google+.",
            "locationType": "parameter",
            "location": "id"
           }
          ],
          "code": 400,
          "message": "The id filter is only compatible with comments based on Google+."
         }
        }
  recorded_at: Mon, 14 Nov 2016 16:50:11 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?fields=items(id,snippet(channelId,description,publishedAt,title),statistics)&id=vJOkR0Xz958&key=<API_KEY>&part=snippet,statistics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"sZ5p5Mo8dPpfIzLYQBF8QIQJym0/55juZYzF7OB-xNvLQ87k7l7N4z0"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "items": [
          {
           "id": "vJOkR0Xz958",
           "snippet": {
            "publishedAt": "2016-10-16T14:00:03.000Z",
            "channelId": "UCQU5uVTG8h9LToACKrm1LMA",
            "title": "桂河邊的逆襲！福利滿滿滿！！綜藝玩很大 x OPPO 【第五十九回 泰國 桂河】20161015【第115集完整版】",
            "description": "史上玩最大的外景節目！！點選以下連結訂閱吧！！絕對讓你開心一整天\nhttps://goo.gl/RZ9nBT\n\n跟著OPPO玩很大:\n【OPPO F1s 自拍美顏機】\nhttps://www.youtube.com/watch?v=Zgt06Ybe_wo\n【OPPO F1s 極速指紋辨識】\nhttps://www.youtube.com/watch?v=oIabypUK0tM\n【OPPO R9|R9 Plus 楊冪秘密武器VOOC閃充】\nhttps://www.youtube.com/watch?v=upGq1TLeySc\n【OPPO R9 無敵自拍 最強閃充】\nhttps://www.youtube.com/watch?v=rXsl96nGinc\n【OPPO引領自拍風潮】\nhttps://www.youtube.com/watch?v=URI0L_YERFk\n\n更多精采獨家！只有Vidol看的到！！\nVidol在我手！明星跟著走！\nhttp://vidol.tv/"
           },
           "statistics": {
            "viewCount": "1162690",
            "likeCount": "1666",
            "dislikeCount": "167",
            "favoriteCount": "0",
            "commentCount": "850"
           }
          }
         ]
        }
  recorded_at: Mon, 14 Nov 2016 16:50:12 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/commentThreads?key=<API_KEY>&maxResults=100&order=relevance&pageToken=&part=snippet&videoId=vJOkR0Xz958
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"sZ5p5Mo8dPpfIzLYQBF8QIQJym0/vFkXd_e-dPRbGUERILbp7hq85qI"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: [...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/commentThreads?key=<API_KEY>&maxResults=100&order=relevance&pageToken=Q2cwUXo2RG5rTnFvMEFJZ0FDZ0JFcElIQ0FBUXVQZTQ2YzZDMEFJcWhBZm92OC9VcUxQK21DVG14K0hTNU5pWGdTV2R1NkNseUpxWnVTYlNwOXFhNHNLZzNDYTJnYmlFcjh1bStTZjc0dTd4dGN1ZG5pV1MvSkd6djkrWTJ5VC9rTVAzNllhdXR5YTl6ZVR5b09hN2ppYXdyTXY3b0tmMDRDVzE5TGl6d28vY2ppYVNuc3Iyai8vTWhTYkYxYys3ME8reWdpYTJyN3p4dVp2LzZ5U1d5N2FUeVlYTjJpYkdtN3JQZ05qcjZDYm80UGUycTlLYjdTZTgyL3JJaGFhRHJTZTJxUFdSeDlD[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/commentThreads?key=<API_KEY>&maxResults=100&order=relevance&pageToken=Q3JzQ0NxSUNFcDhDQ0dRU21nSUl5QkVRWkJnSElwQUNzWjVvODhaOG5lcWRmR0x2Mi9sc252T1o1SXhuc3V2eCtIbk9vMDdIVHUveDNwKzZ5YkhlOWFtdG11YWE0L2x6WFNkUG0yd2ZhOXB1Tm1OUHF4NmY3alF4YlQ5cU0vSDB6VGZtMXAyWXFINGVUK0xOdWllWmpKUEVuNnEySnpQUjVGYjNiZWVKNlVsNytwT2N4TG5ueDh6ZTZPMXRqUDJaK2lkN3RiTk80OVNZOFpsK01qN1pQR2Ruako0K1I0Ly85SDJzNmZjazA1cDAxMi9pazZQcFBjOGJQU2U2OGY5K0h2L2Q0NVBaK0o2[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/commentThreads?key=<API_KEY>&maxResults=100&order=relevance&pageToken=Q3RjRUNyNEVFcDhDQ0dRU21nSUl5QkVRWkJnSElwQUNzWjVvODhaOG5lcWRmR0x2Mi9sc252T1o1SXhuc3V2eCtIbk9vMDdIVHUveDNwKzZ5YkhlOWFtdG11YWE0L2x6WFNkUG0yd2ZhOXB1Tm1OUHF4NmY3alF4YlQ5cU0vSDB6VGZtMXAyWXFINGVUK0xOdWllWmpKUEVuNnEySnpQUjVGYjNiZWVKNlVsNytwT2N4TG5ueDh6ZTZPMXRqUDJaK2lkN3RiTk80OVNZOFpsK01qN1pQR2Ruako0K1I0Ly85SDJzNmZjazA1cDAxMi9pazZQcFBjOGJQU2U2OGY5K0h2L2Q0NVBaK0o2[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/commentThreads?key=<API_KEY>&maxResults=100&order=relevance&pageToken=Q3ZZR0N0MEdFcDhDQ0dRU21nSUl5QkVRWkJnSElwQUNzWjVvODhaOG5lcWRmR0x2Mi9sc252T1o1SXhuc3V2eCtIbk9vMDdIVHUveDNwKzZ5YkhlOWFtdG11YWE0L2x6WFNkUG0yd2ZhOXB1Tm1OUHF4NmY3alF4YlQ5cU0vSDB6VGZtMXAyWXFINGVUK0xOdWllWmpKUEVuNnEySnpQUjVGYjNiZWVKNlVsNytwT2N4TG5ueDh6ZTZPMXRqUDJaK2lkN3RiTk80OVNZOFpsK01qN1pQR2Ruako0K1I0Ly85SDJzNmZjazA1cDAxMi9pazZQcFBjOGJQU2U2OGY5K0h2L2Q0NVBaK0o2[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?id=z13dwdepqxvdvvmbj04chpaxmuvbwjxhsr40k&key=<API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"sZ5p5Mo8dPpfIzLYQBF8QIQJym0/101EQxBVOtmZYNYzzww6IX3qGbk"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind"[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?fields=items(id,snippet(channelId,description,publishedAt,title),statistics(likeCount,dislikeCount,viewCount),contentDetails(duration))&id=vJOkR0Xz958&key=<API_KEY>&part=snippet,statistics,%0D%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20contentDetails
    body:
      encoding: US-ASCII
      string: ''
 [...]
